
otherbuilds/.vs/rubberband-library/v16/.suo
otherbuilds/.vs/rubberband-library/v16/Browse.VC.db
otherbuilds/.vs/rubberband-library/v16/ipch/AutoPCH/15a0ef934bfa375b/AUDIOCURVECALCULATOR.ipch
otherbuilds/.vs/rubberband-library/v16/ipch/AutoPCH/45d5f1d7298625a2/COMPOUNDAUDIOCURVE.ipch
otherbuilds/.vs/rubberband-library/v16/ipch/AutoPCH/4bdb261c782434a8/FFT.ipch
otherbuilds/.vs/rubberband-library/v16/ipch/AutoPCH/51b2020500dc9884/BQRESAMPLER.ipch
otherbuilds/.vs/rubberband-library/v16/ipch/AutoPCH/751e7b02f8b55ad8/ALLOCATORS.ipch
otherbuilds/.vs/rubberband-library/v16/ipch/AutoPCH/c2f07318c115072b/ARM64_NEON.ipch
otherbuilds/Debug/Allocators.obj
otherbuilds/Debug/AudioCurveCalculator.obj
otherbuilds/Debug/BQResampler.obj
otherbuilds/Debug/CompoundAudioCurve.obj
otherbuilds/Debug/FFT.obj
otherbuilds/Debug/HighFrequencyAudioCurve.obj
otherbuilds/Debug/Log.obj
otherbuilds/Debug/mathmisc.obj
otherbuilds/Debug/PercussiveAudioCurve.obj
otherbuilds/Debug/Profiler.obj
otherbuilds/Debug/R2Stretcher.obj
otherbuilds/Debug/R3Stretcher.obj
otherbuilds/Debug/Resampler.obj
otherbuilds/Debug/rubberba.020CEB11.tlog/CL.command.1.tlog
otherbuilds/Debug/rubberba.020CEB11.tlog/CL.read.1.tlog
otherbuilds/Debug/rubberba.020CEB11.tlog/CL.write.1.tlog
otherbuilds/Debug/rubberba.020CEB11.tlog/Lib-link.read.1.tlog
otherbuilds/Debug/rubberba.020CEB11.tlog/Lib-link.write.1.tlog
otherbuilds/Debug/rubberba.020CEB11.tlog/Lib.command.1.tlog
otherbuilds/Debug/rubberba.020CEB11.tlog/metagen.read.1.tlog
otherbuilds/Debug/rubberba.020CEB11.tlog/metagen.write.1.tlog
otherbuilds/Debug/rubberba.020CEB11.tlog/rubberband-library.lastbuildstate
otherbuilds/Debug/rubberband-c.obj
otherbuilds/Debug/rubberband-library.idb
otherbuilds/Debug/rubberband-library.lib
otherbuilds/Debug/rubberband-library.lib.recipe
otherbuilds/Debug/rubberband-library.log
otherbuilds/Debug/rubberband-library.pdb
otherbuilds/Debug/rubberband-library.vcxproj.FileListAbsolute.txt
otherbuilds/Debug/RubberBandStretcher.obj
otherbuilds/Debug/SilentAudioCurve.obj
otherbuilds/Debug/StretchCalculator.obj
otherbuilds/Debug/StretcherChannelData.obj
otherbuilds/Debug/StretcherProcess.obj
otherbuilds/Debug/sysutils.obj
otherbuilds/Debug/Thread.obj
otherbuilds/x64/Release/Thread.obj
otherbuilds/x64/Release/sysutils.obj
otherbuilds/x64/Release/StretcherProcess.obj
otherbuilds/x64/Release/StretcherChannelData.obj
otherbuilds/x64/Release/StretchCalculator.obj
otherbuilds/x64/Release/SilentAudioCurve.obj
otherbuilds/x64/Release/RubberBandStretcher.obj
otherbuilds/x64/Release/rubberband-library.vcxproj.FileListAbsolute.txt
otherbuilds/x64/Release/rubberband-library.pdb
otherbuilds/x64/Release/rubberband-library.log
otherbuilds/x64/Release/rubberband-library.lib.recipe
otherbuilds/x64/Release/rubberband-library.lib
otherbuilds/x64/Release/rubberband-c.obj
otherbuilds/x64/Release/rubberba.020CEB11.tlog/rubberband-library.lastbuildstate
otherbuilds/x64/Release/rubberba.020CEB11.tlog/Lib.command.1.tlog
otherbuilds/x64/Release/rubberba.020CEB11.tlog/Lib-link.write.1.tlog
otherbuilds/x64/Release/rubberba.020CEB11.tlog/Lib-link.read.1.tlog
otherbuilds/x64/Release/rubberba.020CEB11.tlog/CL.write.1.tlog
otherbuilds/x64/Release/rubberba.020CEB11.tlog/CL.read.1.tlog
otherbuilds/x64/Release/rubberba.020CEB11.tlog/CL.command.1.tlog
otherbuilds/x64/Release/Resampler.obj
otherbuilds/x64/Release/R3Stretcher.obj
otherbuilds/x64/Release/R2Stretcher.obj
otherbuilds/x64/Release/Profiler.obj
otherbuilds/x64/Release/PercussiveAudioCurve.obj
otherbuilds/x64/Release/mathmisc.obj
otherbuilds/x64/Release/Log.obj
otherbuilds/x64/Release/HighFrequencyAudioCurve.obj
otherbuilds/x64/Release/FFT.obj
otherbuilds/x64/Release/CompoundAudioCurve.obj
otherbuilds/x64/Release/BQResampler.obj
otherbuilds/x64/Release/AudioCurveCalculator.obj
otherbuilds/x64/Release/Allocators.obj
otherbuilds/rubberband-library.vcxproj.user
